@media screen and ( max-width : 768px){
    #footer{
        overflow: hidden;
    }
    #footer .f_details{
        width: 100%;
    }
    #footer .links a{
        display: block;
    }
    #footer .address{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .f_bot{
        padding: 10px 5px;
        flex-direction: column;
    }
    .presents{
        flex-direction: column;
    }
}

